{% extends "base.html" %} {% block nav_items %}
<li class="nav-item">
    <a class="nav-link" href="/">Fittings</a>
</li>
<li class="nav-item">
    <a class="nav-link" href="/fitters">Fitters</a>
</li>
<li class="nav-item">
    <a class="nav-link" href="/stores">Stores</a>
</li>
<li class="nav-item">
    <a class="nav-link" href="/customers">Customers</a>
</li>
<li class="nav-item dropdown">
    <a
        class="nav-link dropdown-toggle"
        data-bs-toggle="dropdown"
        role="button"
        href="#"
        aria-expanded="false"
        >Reports</a
    >
    <ul class="dropdown-menu">
        <li>
            <a class="dropdown-item" href="/reports/fitting-search"
                >Fitting Search</a
            >
        </li>
        <li>
            <a class="dropdown-item" href="/reports/fittings-today"
                >Fittings Today</a
            >
        </li>
        <li>
            <a class="dropdown-item" href="/reports/fittings-by-fitter"
                >Fittings by Fitter</a
            >
        </li>
    </ul>
</li>
{% endblock nav_items %} {% block content %}
<div class="container fluid">
    <h2 class="mb-2">Create Customer</h2>
    {% for error in errors %}
    <p class="danger">{{error}}</p>
    {% endfor %}
    <form class="row g-3" action="/create-customer" method="post">
        <div class="col-md-6">
            <label for="inputFirstName" class="form-label">First name*</label>
            <input
                type="text"
                class="form-control"
                id="inputFirstName"
                name="first_name"
                required
            />
        </div>
        <div class="col-md-6">
            <label for="inputLastName" class="form-label">Last name*</label>
            <input
                type="text"
                class="form-control"
                id="inputLastName"
                name="last_name"
                required
            />
        </div>
        <div class="col-md-6">
            <label for="inputEmail" class="form-label">Email*</label>
            <input
                type="email"
                class="form-control"
                id="inputEmail"
                name="email"
                required
            />
        </div>
        <div class="col-md-6">
            <label for="inputPhone" class="form-label">Phone*</label>
            <input
                type="test"
                class="form-control"
                id="inputEPhone"
                name="phone"
                required
            />
        </div>
        <div class="col-12">
            <label for="inputAddress" class="form-label">Address*</label>
            <input
                type="text"
                class="form-control"
                id="inputAddress"
                placeholder="1234 Main St"
                name="street"
                required
            />
        </div>
        <div class="col-12">
            <label for="inputAddress2" class="form-label">Address 2</label>
            <input
                type="text"
                class="form-control"
                id="inputAddress2"
                placeholder="Apartment, studio, or floor"
                name="street_2"
            />
        </div>
        <div class="col-md-6">
            <label for="inputCity" class="form-label">City*</label>
            <input
                type="text"
                class="form-control"
                id="inputCity"
                name="city"
                required
            />
        </div>
        <div class="col-md-4">
            <label for="inputState" class="form-label">State*</label>
            <select id="inputState" class="form-select" name="state" required>
                {% for state in states %} {% if states.index(state) == 0 %}
                <option value="{{state}}" selected>{{state}}</option>
                {% else %}
                <option value="{{state}}">{{state}}</option>
                {% endif %} {% endfor %}
            </select>
        </div>
        <div class="col-md-2">
            <label for="inputZip" class="form-label">Zip*</label>
            <input
                type="text"
                class="form-control"
                id="inputZip"
                name="zip_code"
                required
            />
        </div>
        <div class="col-12">
            <button type="submit" class="btn btn-primary">Create</button>
        </div>
    </form>
</div>
{% endblock content %}
