{% extends "base.html" %} {% block nav_items %}
<li class="nav-item">
    <a class="nav-link" href="/">Fittings</a>
</li>
<li class="nav-item">
    <a class="nav-link" href="/fitters">Fitters</a>
</li>
<li class="nav-item">
    <a class="nav-link" href="/stores">Stores</a>
</li>
<li class="nav-item">
    <a class="nav-link" href="/customers">Customers</a>
</li>
<li class="nav-item dropdown">
    <a
        class="nav-link dropdown-toggle"
        data-bs-toggle="dropdown"
        role="button"
        href="#"
        aria-expanded="false"
        >Reports</a
    >
    <ul class="dropdown-menu">
        <li>
            <a class="dropdown-item" href="/reports/fitting-search"
                >Fitting Search</a
            >
        </li>
        <li>
            <a class="dropdown-item" href="/reports/fittings-today"
                >Fittings Today</a
            >
        </li>
        <li>
            <a class="dropdown-item" href="/reports/fittings-by-fitter"
                >Fittings by Fitter</a
            >
        </li>
    </ul>
</li>
{% endblock nav_items %} {% block content %}
<div class="container fluid">
    <div class="row">
        <div class="col-4">
            <div class="card mb-2">
                <div class="card-header">
                    {{fitter.first_name}} {{fitter.last_name}}
                </div>
                <div class="card-body">
                    <h5 class="card-title">Bio</h5>
                    <p class="card-text">{{fitter.bio}}</p>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">
                        <strong>Username</strong>: {{fitter.username}}
                    </li>
                    <li class="list-group-item">
                        <strong>Role</strong>: {{fitter.role}}
                    </li>
                    <li class="list-group-item">
                        <strong>Home Store</strong>: {{fitter.store.name}}
                    </li>
                    <li class="list-group-item">
                        <strong>Address</strong>:
                        <br />
                        {{fitter.address.street}} {{fitter.address.street_2 if
                        fitter.address.street_2}}
                        <br />
                        {{fitter.address.city}}, {{fitter.address.state}},
                        {{fitter.address.zip_code}}
                    </li>
                </ul>
            </div>
            {% if fitter.id == active_fitter.id or active_fitter.role == "Lead"
            %}
            <a
                class="btn btn-sm btn-primary"
                href="/update-fitter/{{fitter.id}}"
                role="button"
                >Update
            </a>
            {% endif %} {% if active_fitter.role == "Lead" %}
            <a
                class="btn btn-sm btn-danger"
                href="/delete-fitter/{{fitter.id}}"
                role="button"
                >Delete
            </a>
            {% endif %}
        </div>
        <div class="col-8">
            <div class="row gx-1">
                <div class="col-auto"><h3>Fittings</h3></div>
                {% if fitter.id == active_fitter.id or active_fitter.role ==
                "Lead" %}
                <div class="col-auto">
                    <a href="/" class="btn btn-sm btn-dark" role="button">+</a>
                </div>
                {% endif %}
            </div>
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th scope="col">Start</th>
                        <th scope="col">End</th>
                        <th scope="col">Description</th>
                        <th scope="col">Customer</th>
                        <th scope="col">Store</th>
                    </tr>
                </thead>
                <tbody>
                    {% for fitting in fitter.fittings %}
                    <tr>
                        <td>{{fitting.start}}</td>
                        <td>{{fitting.end}}</td>
                        <td>{{fitting.text}}</td>
                        <td>
                            <a href="/customers/{{fitting.customer.id}}">
                                {{fitting.customer.first_name}}
                                {{fitting.customer.last_name}}
                            </a>
                        </td>
                        <td>
                            <a href="/stores/{{fitting.store.id}}">
                                {{fitting.store.name}}
                            </a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock content %}
