{% extends "base.html" %} {% block nav_items %}
<li class="nav-item">
    <a class="nav-link" href="/">Fittings</a>
</li>
<li class="nav-item">
    <a class="nav-link active" aria-current="page" href="/fitters">Fitters</a>
</li>
<li class="nav-item">
    <a class="nav-link" href="/stores">Stores</a>
</li>
<li class="nav-item">
    <a class="nav-link" href="/customers">Customers</a>
</li>
<li class="nav-item dropdown">
    <a
        class="nav-link dropdown-toggle"
        data-bs-toggle="dropdown"
        role="button"
        href="#"
        aria-expanded="false"
        >Reports</a
    >
    <ul class="dropdown-menu">
        <li><a class="dropdown-item" href="#">Fitting Search</a></li>
        <li><a class="dropdown-item" href="#">Fittings Today</a></li>
        <li><a class="dropdown-item" href="#">Fittings by Fitter</a></li>
    </ul>
</li>
{% endblock nav_items %} {% block content %}
<div class="container fluid">
    <table class="table table-bordered">
        <thead>
            <tr>
                <th scope="col">First Name</th>
                <th scope="col">Last Name</th>
                <th scope="col">Username</th>
                <th scope="col">Role</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            {% for fitter in page.items %}
            <tr>
                <td>{{fitter.first_name}}</td>
                <td>{{fitter.last_name}}</td>
                <td>{{fitter.username}}</td>
                <td>{{fitter.role}}</td>
                <td>
                    <a
                        class="btn btn-sm btn-primary"
                        href="/fitters/{{fitter.id}}"
                        role="button"
                        >Profile
                    </a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% if active_fitter.role == "Lead" %}
    <a href="/create-fitter" class="btn btn-dark" role="button">Create</a>
    {% endif %}
</div>
<nav aria-label="Fitter Pagination" class="fixed-bottom">
    <ul class="pagination justify-content-center">
        {% if page.page == 1 %}
        <li class="page-item disabled">
            <a class="page-link">Previous</a>
        </li>
        {% else %}
        <li class="page-item">
            <a class="page-link" href="/fitters?page={{page.page - 1}}"
                >Previous</a
            >
        </li>
        {% endif %} {% for page_num in range(1, page.pages + 1) %} {% if
        page_num == page.page %}
        <li class="page-item active" aria-current="page">
            <a class="page-link" href="/fitters?page={{page_num}}"
                >{{ page_num }}</a
            >
        </li>
        {% else %}
        <li class="page-item">
            <a class="page-link" href="/fitters?page={{page_num}}"
                >{{ page_num }}</a
            >
        </li>
        {% endif %} {% endfor %} {% if page.page == page.pages %}
        <li class="page-item disabled">
            <a class="page-link">Next</a>
        </li>
        {% else %}
        <li class="page-item">
            <a class="page-link" href="/fitters?page={{page.page + 1}}">Next</a>
        </li>
        {% endif %}
    </ul>
</nav>
{% endblock content %}
