{% extends "base.html" %} {% block nav_items %}
<li class="nav-item">
    <a class="nav-link" href="/">Fittings</a>
</li>
<li class="nav-item">
    <a class="nav-link" href="/fitters">Fitters</a>
</li>
<li class="nav-item">
    <a class="nav-link" href="/stores">Stores</a>
</li>
<li class="nav-item">
    <a class="nav-link" href="/customers">Customers</a>
</li>
<li class="nav-item dropdown">
    <a
        class="nav-link dropdown-toggle active"
        data-bs-toggle="dropdown"
        role="button"
        aria-expanded="false"
        aria-current="page"
        >Reports</a
    >
    <ul class="dropdown-menu">
        <li>
            <a class="dropdown-item active" href="/reports/fitting-search"
                >Fitting Search</a
            >
        </li>
        <li><a class="dropdown-item" href="#">Fittings Today</a></li>
        <li><a class="dropdown-item" href="#">Fittings by Fitter</a></li>
    </ul>
</li>
{% endblock nav_items %} {% block content %}
<div class="container fluid">
    <div class="row justify-content-end">
        <div class="col-auto">
            <form
                class="row gy-2 gx-3 align-items-center justify-content-end mb-2"
                action="/reports/fitting-search"
                method="get"
                onsubmit="disableEmptyInputs(this)"
            >
                <div class="col-auto">
                    <label
                        class="visually-hidden"
                        for="autoSizingInputStartDate"
                        >Start date</label
                    >
                    <input
                        type="date"
                        class="form-control"
                        id="autoSizingInputStartDate"
                        name="start_date"
                    />
                </div>
                <div class="col-auto">
                    <label class="visually-hidden" for="autoSizingInputEndDate"
                        >End date</label
                    >
                    <input
                        type="date"
                        class="form-control"
                        id="autoSizingInputEndDate"
                        name="end_date"
                    />
                </div>
                <div class="col-auto">
                    <button type="submit" class="btn btn-success">
                        Search
                    </button>
                </div>
            </form>
        </div>
    </div>
    <table class="table table-bordered mb-2">
        <thead>
            <tr>
                <th scope="col">Start</th>
                <th scope="col">End</th>
                <th scope="col">Description</th>
                <th scope="col">Customer</th>
                <th scope="col">Fitter</th>
                <th scope="col">Store</th>
            </tr>
        </thead>
        <tbody>
            {% for fitting in page.items %}
            <tr>
                <td>{{fitting.start}}</td>
                <td>{{fitting.end}}</td>
                <td>{{fitting.text}}</td>
                <td>
                    <a href="/customers/{{fitting.customer.id}}">
                        {{fitting.customer.first_name}}
                        {{fitting.customer.last_name}}
                    </a>
                </td>
                <td>
                    <a href="/fitters/{{fitting.fitter.id}}">
                        {{fitting.fitter.first_name}}
                        {{fitting.fitter.last_name}}
                    </a>
                </td>
                <td>
                    <a href="/stores/{{fitting.store.id}}">
                        {{fitting.store.name}}
                    </a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
<nav aria-label="Fittings Search Pagination" class="fixed-bottom">
    <ul class="pagination justify-content-center">
        {% if page.page == 1 %}
        <li class="page-item disabled">
            <a class="page-link">Previous</a>
        </li>
        {% else %}
        <li class="page-item">
            <a
                class="page-link"
                href="/reports/fitting-search?page={{page.page - 1}}{{start_date_query}}{{end_date_query}}"
                >Previous</a
            >
        </li>
        {% endif %} {% for page_num in range(1, page.pages + 1) %} {% if
        page_num == page.page %}
        <li class="page-item active" aria-current="page">
            <a
                class="page-link"
                href="/reports/fitting-search?page={{page_num}}{{start_date_query}}{{end_date_query}}"
                >{{ page_num }}</a
            >
        </li>
        {% else %}
        <li class="page-item">
            <a
                class="page-link"
                href="/reports/fitting-search?page={{page_num}}{{start_date_query}}{{end_date_query}}"
                >{{ page_num }}</a
            >
        </li>
        {% endif %} {% endfor %} {% if page.page == page.pages %}
        <li class="page-item disabled">
            <a class="page-link">Next</a>
        </li>
        {% else %}
        <li class="page-item">
            <a
                class="page-link"
                href="/reports/fitting-search?page={{page.page + 1}}{{start_date_query}}{{end_date_query}}"
                >Next</a
            >
        </li>
        {% endif %}
    </ul>
</nav>
{% endblock content %} {% block scripts %}
<script>
    function disableEmptyInputs(form) {
        var controls = form.elements;
        for (var i = 0, length = controls.length; i < length; i++) {
            controls[i].disabled = controls[i].value == "";
        }
    }
</script>
{% endblock scripts %}
