{% extends "base.html" %} {% block nav_items %}
<li class="nav-item">
    <a class="nav-link active" aria-current="page" href="/">Fittings</a>
</li>
<li class="nav-item">
    <a class="nav-link" href="/fitters">Fitters</a>
</li>
<li class="nav-item">
    <a class="nav-link" href="/stores">Stores</a>
</li>
<li class="nav-item">
    <a class="nav-link" href="/customers">Customers</a>
</li>
<li class="nav-item dropdown">
    <a
        class="nav-link dropdown-toggle"
        data-bs-toggle="dropdown"
        role="button"
        aria-expanded="false"
        >Reports</a
    >
    <ul class="dropdown-menu">
        <li>
            <a class="dropdown-item" href="/reports/fitting-search"
                >Fitting Search</a
            >
        </li>
        <li>
            <a class="dropdown-item" href="/reports/fittings-today"
                >Fittings Today</a
            >
        </li>
        <li>
            <a class="dropdown-item" href="/reports/fittings-by-fitter"
                >Fittings by Fitter</a
            >
        </li>
    </ul>
</li>
{% endblock nav_items %} {% block content %}
<div class="container fluid">
    <div
        class="btn-toolbar justify-content-between mb-2"
        role="toolbar"
        aria-label="Calendar navigation toolbar"
    >
        <button type="button" class="btn btn-dark" onclick="previousWeek()">
            Previous
        </button>
        <button type="button" class="btn btn-dark" onclick="nextWeek()">
            Next
        </button>
    </div>
    <div id="fittings"></div>
</div>
{% endblock content %} {% block scripts %}
<script src="{{ url_for('static', path='/js/daypilot-all.min.js') }}"></script>
<script
    id="calendar-script"
    src="{{ url_for('static', path='/js/calendar.js') }}"
    data-active-fitter-id="{{ active_fitter.id }}"
    data-active-fitter-role="{{ active_fitter.role }}"
></script>
{% endblock scripts %}
